.loginbox {
  width: 350px;          
  margin: 100px ;
  margin-left: 1100px;    
  padding: 20px 10px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;       
}

img {
  width: 200px;
  margin-bottom: 20px;
}

.span {
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: bold;
  font-family: inherit;
  color: #1c1e21;
}

input {
  width: 90%;
  padding: 12px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}


button {
  width: 95%;
  padding: 12px;
  margin-top: 12px;
  background: #1877f2;
  color: white;
  font-size: 16px;
  border-radius: 6px;
}

.span1 {
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: bold;
  font-family: inherit;
  color: #598fe1;
}